.standardButton {
  outline: none;
  border: none;
  cursor: pointer;

  padding: 1rem 2.4rem;

  background: var(--white);
  color: var(--text);
  font-size: var(--text-sm);
  border-radius: 4px;

  position: relative;
  z-index: 20;

  overflow: auto;

  transition: 0.5s opacity;
}

.standardButton:hover {
  opacity: 0.9;
}
