.hero {
  margin-top: 4rem;
  margin-bottom: 25rem;
  padding: 4rem 2.5rem;
  .stars2 {
    position: absolute;
    right: 0;
    bottom: 0;
    animation: rotate 50s linear infinite;
  }
  @media (max-width: 980px) {
    padding: 0 2rem;
    margin-top: 1.5rem;
    margin-bottom: 4.8rem;
    .stars2,
    .stars {
      display: none;
    }
  }
}

.copyWrapper {
  position: relative;
  z-index: 10;
  width: fit-content;
  margin: 5rem 0;

  @keyframes rotating {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-360deg);
    }
  }
}

.title {
  font-size: var(--text-4xl);
  font-weight: 800;
  line-height: 1.3;
  font-family: var(--font-manrope);

  span {
    color: var(--brand);
  }

  @media (max-width: 768px) {
    font-size: var(--text-xl);
  }
}

.subTitle {
  line-height: 1.3;
  font-weight: 400;
  font-family: var(--font-manrope);
  margin-left: 10rem;
  font-size: var(--text-3xl);

  span {
    font-weight: bold;
    color: var(--brand);
  }

  @media (max-width: 1336px) {
    font-size: var(--text-2xl);
  }

  @media (max-width: 1024px) {
    font-size: var(--text-lg);
  }
}

.aboutCopy {
  margin: 1.4rem 0;
  max-width: 700px;
  font-weight: 200;
  font-family: var(--font-manrope);
}

.profile {
  margin: 2rem;
  z-index: 10;
  position: relative;
  margin-right: 9rem;
  border-radius: 50%;
  outline: solid;
  outline-width: 3px;
  outline-color: var(--brand);
  outline-offset: 6px;
  transition: 0.4s;

  &:hover {
    outline: dotted;
    outline-color: var(--brand);
    outline-offset: 10px;
    transform: scale(105%);
  }
}

.heroGrid {
  gap: 1.5rem;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  .stars {
    position: absolute;
    top: 0;
    animation: rotating 30s linear infinite;
  }

  @media (max-width: 980px) {
    flex-direction: column-reverse;
    align-items: start;
    flex-wrap: wrap;

    .profile {
      height: 150px;
      width: 150px;
      margin-right: 0;
      margin-bottom: -30px;
      margin-top: 3rem;
      margin-left: 1.5rem;
    }
  }
}
