.aboutTop {
  background-color: var(--brande);
  height: 30rem;
  display: flex;
  align-items: center;
  text-align: left;
  font-family: var(--font-manrope);
  .aboutPara {
    max-width: 1150px;
    margin: auto;
    position: relative;
    padding: 8rem;
    align-items: start;
    @media (max-width: 900px) {
      padding: 2rem;
    }

    h3 {
      font-size: var(--text-xl);
      margin-bottom: 2rem;
      @media (max-width: 1220px) {
        font-size: var(--text-lg);
      }
    }
  }
}

.about {
  display: grid;
  grid-template-columns: 1fr 300px;
  gap: 2.4rem;
  font-family: var(--font-manrope);
  @media (max-width: 900px) {
    grid-template-columns: 1fr;
  }
}

.aboutText {
  margin-bottom: 2.4rem;
  font-weight: 400;
}

.links {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.linksText {
  display: flex;
  align-items: center;
  gap: 0.8rem;

  font-size: var(--text-sm);
  color: var(--brand);
}

.highlightFirstLetter:first-letter {
  background: var(--background-light);
  padding: 1rem;
  border-radius: 0.4rem;

  font-size: var(--text-md);
  font-weight: bold;

  margin-right: 0.6rem;

  float: left;
}
