.sectionHeader {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2.4rem;
  font-family: var(--font-manrope);
}

.title {
  font-size: var(--text-xl);
  font-weight: 900;
  flex-grow: 1;

  span {
    color: var(--brand);
  }

  @media (max-width: 768px) {
    font-size: var(--text-lg);
  }
}

.line {
  height: 1px;
  background: var(--text);
  opacity: 0.5;
  flex-grow: 1;
}
