.sideBar {
  font-family: var(--font-manrope);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  @media (max-width: 845px) {
    flex-direction: column;
  }
  a {
    font-size: var(--text-sm);
    font-weight: 400;
    border-bottom: 1px solid transparent;
    transition: 0.1s all;
  }

  a:hover {
    background: var(--background);
    border-bottom: 1px solid var(--white);
    opacity: 1;
  }

  .selected {
    background: var(--background);
    border-bottom: 1px solid var(--white);
    opacity: 1;
  }
}

.logo {
  cursor: pointer;
  flex-shrink: 0;

  font-size: var(--text-lg);
  font-weight: 400;
  line-height: 1;

  display: flex;
  align-items: center;
  justify-content: center;

  span {
    font-size: var(--text-md);
    font-weight: 900;
    line-height: 1;
    color: var(--brand);
  }
}

.navLinks {
  display: flex;
  gap: 30px;
  align-items: center;
}
